[alias]
    a = add
    b = branch
    cm = commit -m
    ch = checkout
    cl = clone
    d = diff
    ds = diff --staged
    l = log --graph --pretty=format:'%C(auto)%h%d %s %C(dim)(%ar)%Creset' -20
    last = log -1 HEAD --stat
    m = merge
    p = push
    pl = pull
    r = restore
    rh = reset --hard
    rs = restore --staged
    s = status
    sh = stash
    sl = stash list
    sp = stash pop
    tg = tag
    tracked = ls-tree --full-tree --name-only -r HEAD
    tr = tracked

[core]
    excludesfile = ~/.gitignore_global
    pager = delta

[default]
    push = upstream

[delta]
    diff-so-fancy = true
    navigate = true
    syntax-theme = gruvbox-dark

[diff]
    colorMoved = default

[github]
    user = benjaminrosen

[gitlab]
    user = benjaminrosen

[init]
    defaultBranch = trunk

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3
    ff = only

[pull]
    rebase = false

[push]
    default = current

[user]
    name = Ben Rosen
    email = benrosen@upenn.edu
