[[language]]
name = "bash"
auto-format = true
formatter = { command = "shfmt" }

[[language]]
name = "c"
auto-format = true

[[language]]
name = "css"
formatter = { command = "prettier", args = ["--parser", "css"] }

[[language]]
name = "java"
auto-format = true

[[language]]
name = "javascript"
auto-format = true

[[language]]
name = "json"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "json"] }

[[language]]
name = "jsonc"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "jsonc"] }

[[language]]
name = "lilypond"
comment-token = "%"
file-types = ["ly", "ily"]
scope = "source.lilypond"

[[grammar]]
name = "lilypond"
source = { git = "https://github.com/nwhetsell/tree-sitter-lilypond", rev = "49682b4a4dc163016a43d70f7e3d0182f438fad0" }

[[language]]
name = "markdown"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "markdown"] }
soft-wrap = { enable = true, wrap-at-text-width = true }

[[language]]
name = "nix"
auto-format = true
formatter = { command = "alejandra" }

[[language]]
name = "python"
auto-format = true
language-servers = ["pyright", "ruff"]

[language-server.ruff]
command = "ruff-lsp"

[[language]]
name = "rust"
formatter = { command = "rustfmt" }

[[language]]
name = "toml"
auto-format = true
soft-wrap = { enable = true, wrap-at-text-width = true }

[[language]]
name = "txt"
file-types = ["txt"]
scope = "text.txt"
soft-wrap = { enable = true, wrap-at-text-width = true }

[[language]]
name = "tsx"
auto-format = true
formatter = { command = "prettier", args = ["--parser", "typescript"] }

[[language]]
name = "typst"
auto-format = true
formatter = { command = "typstyle" }

[[language]]
name = "yaml"
auto-format = true
formatter = { command = "yamlfmt", args = ["-"] }
