[[language]]
name = "nix"
auto-format = true
formatter = { command = "alejandra" }


[[language]]
name = "haskell"
auto-format = true

[language-server.haskell-language-server.config]
formattingProvider = "fourmolu"
