@import "./colors.css";

* {
  font-family: FontAwesome, "Ubuntu Sans";
  font-size: 12px;
}

window#waybar {
  color: @base05;
  background-color: @base00;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#idle_inhibitor,
#window,
#workspaces {
  padding: 4px 12px;
  color: @base05;
  background-color: @base00;
  border-radius: 4px;
}

#workspaces button {
  color: @base05;
  background-color: @base02;
  border-radius: 50%;
}

#workspaces button.active {
  background-color: @base0D;
}

.modules-left>widget:first-child>#workspaces {
  margin-left: 0;
}

#battery.charging,
#battery.plugged {
  color: @base01;
  background-color: @base0B;
}

@keyframes blink {
  to {
    background-color: @base01;
    color: @base04;
  }
}

#battery.critical:not(.charging) {
  background-color: @base0E;
  color: @base05;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: @base0E;
}

#wireplumber.muted {
  background-color: @base0D;
}

#temperature.critical {
  background-color: @base0E;
}

#idle_inhibitor.activated {
  background-color: @base01;
  color: @base04;
}