@import "./colors.css";

* {
  font-family: FontAwesome, "Ubuntu Sans";
  font-size: 12px;
}

window#waybar,
tooltip {
  background-color: @base00;
  color: @base05;
}

tooltip {
  border-color: @base05;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#wireplumber,
#idle_inhibitor {
  padding: 0px 8px;
}

#window,
#workspaces {
  margin: 2px;
}

#workspaces button {
  color: @base05;
  background-color: @base02;
  border-radius: 50%;
  margin: 1px;
  padding: 0px 4px;
}

#workspaces button:hover {
  background-color: @base05;
  color: @base02;
}

#workspaces button.active {
  background-color: @base08;
  color: @base02;
}

#battery.charging,
#battery.plugged {
  background-color: @base0D;
  color: @base02;
}

@keyframes blink {
  to {
    background-color: @base05;
    color: @base0E;
  }
}

#battery.critical:not(.charging) {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-name: blink;
  animation-timing-function: steps(12);
  background-color: @base0E;
  color: @base05;
}

#battery.warning {
  background-color: @base0A;
  color: @base02;
}

#idle_inhibitor.activated {
  background-color: @base02;
  color: @base04;
}

#network.disconnected {
  background-color: @base0E;
}

#temperature.critical {
  background-color: @base0E;
}